.container-fluid {
	text-align:center;
}

.header{
	margin: 50px auto 50px auto;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.buttons ul {
	list-style:none;
}