html {
  position: relative;
  min-height: 100%;
}


body {
    background-image: url("../images/background.png");
    color:white;
    background-size:cover;
    margin-bottom:60px;

}

.jumbotron {
  background-color:white;
}


.container-fluid {
	text-align:center;
}


#headerImage {
  width:100%;
}


button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    border-color:white;
    padding:10px;
    margin-top: 5px;
}

#startButton{
  font-size: 50px;
  margin-top:50px;
}

#startOver{
  font-size: 50px;

}


.buttons ul {
	list-style:none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.copyright {
  color:#ff5214;
}