body {
    background-image: url("../images/background.jpg");
    color:white;
}

.jumbotron {
  background-color:white;
}


.container-fluid {
	text-align:center;
}


button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    border-color:white;
    padding:10px;
    margin-top: 5px;
}

#startButton{
  font-size: 50px;
  margin-top:50px;
}

#startOver{
  font-size: 50px;

}


.buttons ul {
	list-style:none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
  color:#ff6801;
}